* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    font-family: Arial, sans-serif; margin: 0;
    background: #751409}


/* Layout */
.container {
    padding: 45px;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Header */
.header {
position: relative; /* Pour placer le texte par-dessus l'image */
    width: 100%; /* Prend toute la largeur de l'écran */
    height: auto; 
    padding: 10px;
    background-image: url(./images/CV.jpg); 
    background-size: cover; /* L'image couvre tout le header */
    background-position: center; /* Centre l'image */
    display: flex;
    align-items: center; /* Centre verticalement le texte */
    justify-content: center; /* Centre horizontalement le texte */
    color: rgb(13, 11, 11);
    text-align: center;
  }

.header .info {
    color: #040303;
}
.header .info p {color: #040303;}

/* Hero */
.hero {
    margin: 50px;
    color: #fdfbfb;
    padding: 80px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    margin: 15px 0;
}

.btn {
    display: inline-block;
    background: #fff;
    color:  #751409;
    padding: 12px 25px; 
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

/* Compétences */
.Compétences {
    background: #f4f9fb;
    border-radius: 18px;
}

.skill {
  text-decoration: none;
  background: #751409;
  color: white;
  padding: 8px 14px;
  border-radius: 20px;
  margin: 5px;
  display: inline-block;
  transition: 0.2s;
}

.skill:hover {
  transform: scale(1.1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #faf8f8;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    overflow: hidden;
    
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card h5 {
    margin: 15px;
}

.card p {
    margin: 0 15px 20px;
    color: #f9f3f3;
}

/* Footer */
.footer {
    background:url(./image/CV.jpg) center/cover;;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}
