* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    font-family: Arial, sans-serif; margin: 0;
    background: #751409}

.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    overflow: hidden;
    
}
/* Layout */
.container {
    padding: 45px;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Header */
.header {

    background:url(./images/CV.jpg) center/cover;
    min-height: 100vh;
    padding: 30px 15px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: right;
    color: #fff;
}

.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    overflow: hidden;
    
}

.btn {
    display: inline-block;
    background: #fff;
    color: #751409;
    padding: 12px 25px; 
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color:#0a0202;
    color: white;
}